<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Our Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="/assets/img/banner for a store without people and without electronic products.png" alt="Store Banner">
    <ion-card-header>
      <ion-card-title>Discover Amazing Products</ion-card-title>
      <ion-card-subtitle>Find the best deals and latest trends</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Welcome to our online store! Browse through our extensive collection of high-quality products, from clothing to
        electronics, and enjoy exclusive discounts.</p>
      <ion-button (click)="navegate()" expand="full" color="primary">Start</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>